{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div id="obj-create-title">
	<h1>Add Objective</h1>
	<p> Add an objective for {{ job_details.job_title }}</p>
</div>
<br>
<!-- objective create form -->
<div id="objective-create">
	<form id="objective-create-form" action="" method="post">
		{% csrf_token %}
		{{ objective_form|crispy }}
		<br>
		<input class="btn btn-success" role=button type="submit" value="Submit"> 
		<a class = "btn btn-info" 
		href="{% url 'job_detail' job_details.pk %}" role=button> 
			Return to job detail 
		</a>
	</form>
</div>
<br>
<!-- objective list  -->
<div id="objective-list"> 
	<h4> Current objectives </h4>
	{% for obj in objectives.all %}
		<li id="obj-list">{{ obj }}</li>
	{% endfor %}
</div>

{% endblock content %}
